{% extends "base.html" %}
{% block content %}
  <div class="vertical-outer" id="canvas">
    <div class="vertical-middle">
      <div id="obstacle" class="col-8 offset-2 text-center vertical-inner">
        <h1 class="home-headlines">Welcome to Hendrick House Dinner</h1>
        <form class="form-inline mt-md-3 input-form" role="form" method="post" action="">
          {{ form.csrf_token }}
          <p>
          <div>
            {{ form.username(placeholder="username") }}
          </div>
          <span class="error">
              {% if form.username.errors %}
              {% for error in form.username.errors %}
                {{ error }}
              {% endfor %}
            {% endif %}
          </span>
          </p>
          <p>
          <div>
            {{ form.password(placeholde="password") }}
          </div>
          <span class="error">
              {% if form.password.errors %}
                {% for error in form.password.errors %}
                  {{ error }}
                {% endfor %}
              {% endif %}
            </span>
            </p>
          <div class="">
              <button class="btn btn-sm btn-success" type="submit">Sign in</button>
          </div>
        </form>
      </div>

    </div>
    </div>

  <!-- my own JavaScript -->
  <script src={{ url_for('static', filename='js/index.js') }}></script>

  <style media="screen">
    body{
      background-image: url({{ url_for('static', filename='images/background-db.png') }});

      background-position: center;
      background-size: cover;
    }
  </style>


{% endblock %}
