{% extends "base.html" %}
{% block content %}
  <div class="vertical-outer" id="canvas">
    <div class="vertical-middle">
      <div id="obstacle" class="col-8 offset-2 text-center vertical-inner">
        <h1 class="home-headlines">Welcome to Hendrick House Dinner</h1>
        <form class="form-inline mt-md-3 input-form" method="post">
          <div>
            <input class="form-mealnumber form-control"
                   type="text" name="username" placeholder="Email Address"
                   value="{{ request.form.username }}">
          </div>
          <div>
            <input class="form-mealnumber form-control"
                   type="password" name="password" placeholder="Meal Number"
                   value="{{ request.form.password }}">
          </div>
          <div class="">
            <input type="submit" class="btn btn-outline-start
                    start" value="Start!">
          </div>


        </form>
      </div>

    </div>
    </div>

  <!-- my own JavaScript -->
  <script src={{ url_for('static', filename='js/index.js') }}></script>

  <style media="screen">
    body{
      background-image: url({{ url_for('static', filename='images/background-db.png') }});

      background-position: center;
      background-size: cover;
    }
  </style>


{% endblock %}
